<html>
<head>
    <title>Since When</title>
<!--    <script src="/static/js/vendor/requirejs/require.js" type="text/javascript" charset="utf-8"></script> -->
<!--    <script src="/static/js/build.js" type="text/javascript" charset="utf-8"></script> -->

    <script src="/static/js/vendor/requirejs/require.js" type="text/javascript" charset="utf-8" data-main="/static/js/build/js/app/main"></script>
    <script src="/static/js/build/js/app/config.js" type="text/javascript" charset="utf-8"></script>

    <style type="text/css" media="screen">
        .important {
            background: rgba(255, 0, 0, 0.05);
        }
    </style>
</head>
<body>
    <h1><a href="/">Since When</a></h1>
    <div id="container"></div>
</body>
</html>
